<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chance.MvvmCross.Plugins.UserInteraction" version="1.1.4" targetFramework="MonoAndroid41" />
  <package id="FubarCoder.RestSharp.Portable" version="2.4.3" targetFramework="MonoAndroid403" />
  <package id="FubarCoder.RestSharp.Portable.Encodings" version="2.4.3" targetFramework="MonoAndroid403" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid40" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid40" />
  <package id="MvvmCross" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.Droid.FullFragging" version="3.5.1" targetFramework="MonoAndroid41" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.Plugin.Messenger" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.Plugin.ResourceLoader" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.Plugin.Visibility" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid40" />
  <package id="Xamarin.Android.Support.v13" version="22.1.1.1" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v4" version="22.1.1.1" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.1.1.1" targetFramework="MonoAndroid41" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="22.1.1.1" targetFramework="MonoAndroid41" />
  <package id="Xamarin.GooglePlayServices" version="22.0.0.2" targetFramework="MonoAndroid41" />
  <package id="Xamarin.Insights" version="1.10.2.110" targetFramework="MonoAndroid41" />
</packages>