<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.9.12" package="ru.vershi.bustracker" android:versionCode="89" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<!-- We need to be able to download map tiles and access Google Play Services-->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Allow the application to access Google web-based services. -->
	<!-- Google Maps for Android v2 will cache map tiles on external storage -->
	<!-- Google Maps for Android v2 needs this permission so that it may check the connection state as it must download data -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- Permission to receive remote notifications from Google Play Services -->
	<permission android:name="bstrkr.android.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<!-- They will allow Maps to use the My Location provider. -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:icon="@drawable/ic_launcher" android:theme="@style/BusTrackerTheme" android:label="BusTracker">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyB-Stoj3DeTiuz3hsVXYjvojwblzOfzZ2Q" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>