<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.Droid.Fragging" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.Plugin.Location" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.Plugin.ResourceLoader" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="MonoAndroid41" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.2.0.0" targetFramework="MonoAndroid41" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="22.2.0.0" targetFramework="MonoAndroid41" />
  <package id="Xamarin.GooglePlayServices" version="22.0.0.2" targetFramework="MonoAndroid41" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="MonoAndroid41" />
</packages>