<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.Droid.Fragging" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.Plugin.Location" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.HotTuna.Plugin.ResourceLoader" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v4" version="23.0.1.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.0.1.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.0.1.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="26.0.0.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Location" version="26.0.0.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Maps" version="26.0.0.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Insights" version="1.11.1" targetFramework="MonoAndroid51" />
</packages>